<section class="centered-content {% if panel.centered_background_color %}background{% endif %}">
    <div class="row align-center">
        <div class="small-12 medium-8 large-6 columns">
            <h2>{{ panel.centered_title }}</h2>
            {{ panel.centered_content }}
        </div>
    </div>
</section>