<section class="image-left">
    <div class="expanded collapse row">
        <div class="small-12 medium-6 large-5 columns image">
            <img src="{{ panel.image_left_image.url }}" alt="{{ panel.image_left_image.title }}" />
        </div>
        <div class="small-12 medium-6 large-7 columns content">
            {{ panel.image_left_content }}
        </div>
    </div>
</section>