.hero {
  position: relative;
  color: $white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  &:before {
    content: "";
    display: block;
    background-color: rgb(81,130,170);
    opacity: 0.55;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    @include breakpoint(medium) {
      left: -10%;
      width: 60%;
      transform: skew(-10deg);
    }
  }
  .row {
    padding: rem-calc(120px) 0;
    position: relative;
  }
  h1 {
    margin-bottom: rem-calc(50px);
  }
  .content {
    margin-bottom: rem-calc(90px);
  }
  .actions {
    @include breakpoint(small only){
      text-align: center;
    }
  }
  .button {
    font-size: rem-calc(16px);
    font-weight: $global-weight-bold;
    line-height: rem-calc(22px);
    color: $white;
    padding: rem-calc(6px) rem-calc(18px) rem-calc(8px) rem-calc(18px);
    text-transform: uppercase;
    margin-right: $global-margin;
    .fa {
      position: relative;
      font-size: rem-calc(25px);
      line-height: rem-calc(26px);
      top: 2px;
      padding-left: rem-calc(24px);
    }
  }
  .primary {
    background-color: get-color(primary-hover);
    &:hover {
      background-color: scale-color(get-color(primary-hover), $lightness: -14%);
      color: $white;
    }
  }
  .hollow {
    border-color: $white;
    &:hover {
      background-color: scale-color(get-color(primary-hover), $lightness: -14%);
      color: $white;
      border-color: $white;
    }
  }
}