<section class="image-right">
    <div class="collapse row">
        <div class="small-12 medium-6 large-5 columns image medium-order-2">
            <img src="{{ panel.image_right_image.url }}" alt="{{ panel.image_right_image.title }}" />
        </div>
        <div class="small-12 medium-6 large-7 columns content medium-order-1">
            {{ panel.image_right_content }}
        </div>
    </div>
</section>